{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block page-title %}
           {% endblock %}
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <nav class="page-header">
        <h1><a href="{% url 'cj:home' %}">Home Page</a></h1>
    </nav>
    <main id="body-main">
        {% block main-content %}
        {% endblock %}
    </main>
    <footer id="body-footer">

    </footer>
</body>
</html>