{% extends "base.html" %}

{% block page-title %}
{% if create_or_update %}
Create Post
{% else %}
Update Post
{% endif %}
{% endblock %}

{% block main-content %}
<h1>
{% if create_or_update %}
Create New Post:
{% else %}
Update Post: {{ post.name }}
{% endif %}
</h1>

<form method="POST">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <button type="submit">
        {% if create_or_update %}
        Add Post
        {% else %}
        Update Post
        {% endif %}
    </button>
</form>
{% endblock %}